@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Versatylo";
  src: url("./assets/fonts/Versatylo.woff") format("woff");
}

@layer base {
  .text-logo {
    font-family: Versatylo, system-ui, sans-serif;
  }
}
